{
  :name "Серверная"
  :desc "Просторное помещение с панорамным окном. Вид на закрытый двор лаборатории. В центре стоит консоль управления, которая не работает."
  :exits {
    :west :hallway
  }
  :items #{:console}
  :players #{}
  :puzzle {
    :type :repair-console
    :solved false
    :required-items #{"wire" "blueprint"}
    :message "Для починки консоли нужны провод и схема подключения"
    :repair-steps {
      :step1 "Подключить провод к клеммам"
      :step2 "Следовать схеме подключения"
      :step3 "Ввести код активации: 3107"
    }
  }
  :locked-exits #{}
}
