{
  :name "схема лаборатории"
  :desc "Подробная схема всей лаборатории. Отмечены все комнаты и соединения."
  :type :document
  :usable-in ["console_room"]
  :examination-text "На схеме отмечено: 'Основана: октябрь 1997. Серверная требует провод и код 3107 для активации.'"
  :weight 0.2
}
