{
  :name "лабораторный журнал"
  :desc "Старый журнал записей. На первой странице: 'Лаборатория основана в октябре 1997 года.'"
  :type :document
  :examinable true
  :examination-text "На странице 15: 'Ежедневный код доступа: 3107. Основание: октябрь (10)'"
  :weight 0.4
}
