{
  :name "ключ-карта"
  :desc "Пластиковая карта с магнитной полосой. Имеет логотип лаборатории."
  :type :key
  :usable-in ["hallway"]
  :effect "Открывает дверь в архив при правильном вводе кода"
  :weight 0.05
}
