{
  :name "микроскоп"
  :desc "Электронный микроскоп. Под линзой слайд с цифрами: '3XX7'"
  :type :tool
  :examinable true
  :examination-text "На слайде написано: 'X = номер месяца основания лаборатории. Найдите в архиве.'"
  :weight 2.5
}
