{
  :name "провод"
  :desc "Длинный медный провод с изоляцией. Кажется, его можно использовать для починки."
  :type :component
  :usable-in ["console_room"]
  :effect "Используется для ремонта консоли управления"
  :weight 0.3
}
